body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

h1{
    margin: 10px 1%;
}

garage-list{
    height: 50%;
}

map{
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    max-width: 1000px;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    background-color: white;
}

#garage-list{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: calc(50vh)
}

#garage-list .garage{
    box-sizing: border-box;
    border: 1px solid rgba(163, 204, 255, 1);
    width: 23%;
    margin: 10px 1%;
    padding: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 667px){
    #garage-list .garage{
        width: 48%;
    }
}

@media only screen and (max-width: 320px){
    #garage-list .garage{
        width: 98%;
    }
}

#garage-list .garage:hover{
    background-color: rgba(163, 204, 255, .03);
}

#garage-list .garage:active{
    background-color: rgba(163, 204, 255, .1);
}

#garage-list .garage .name{
    float: left;
    width: 70%;
}

#garage-list .garage .parking-status{
    float: right;
    padding: 5px;
    width: 20%;
}

#garage-list .garage .parking-status img{
    width: 100%;
}

#map{
    height: 100%;
    width: 100%;
}