<div id="garage-list">
    <div class="garage" ng-repeat="garage in $ctrl.garages.features"  ng-click="$ctrl.findGarage(garage)" title="Click to see more details">
        <div class="name">
            {{garage.properties.title}}
        </div>
        <div class="parking-status parking-status-free" ng-if="garage.properties.layers['parking.garage'].data.FreeSpaceShort > 0 || garage.properties.layers['parking.garage'].data.FreeSpaceLong > 0">
            <img src="images/free.png" alt="Free">
        </div>
        <div class="parking-status parking-status-full" ng-if="garage.properties.layers['parking.garage'].data.FreeSpaceShort <= 0 && garage.properties.layers['parking.garage'].data.FreeSpaceLong <= 0">
            <img src="images/full.png" alt="Full">
        </div>
    </div>
</div>